In [1]:
import sqlite3
import networkx as nx
import dgl
import torch as th
import scipy.sparse as sp

Using backend: pytorch

In [2]:
try:
    conn=sqlite3.connect('disgenet_2020.db')
except Exception as e:
    print("cannot open database",str(e))
#results = conn.execute('SELECT name FROM sqlite_schemaWHERE type='table' ORDER BY name')

In [3]:
result=conn.execute('SELECT name FROM sqlite_schema Where type="table" Order by name')

In [5]:
for r in result:
    print (r)

('disease2class',)
('diseaseAttributes',)
('diseaseClass',)
('geneAttributes',)
('geneDiseaseNetwork',)
('variantAttributes',)
('variantDiseaseNetwork',)
('variantGene',)

In [8]:
import pandas as pd

In [51]:
sql="""
select * from geneDiseaseNetwork

"""

In [40]:
df=pd.read_sql_query(sql,conn)

In [41]:
df.head()

,NID,diseaseNID,geneNID,source,association,associationType,sentence,pmid,score,EL,EI,year
0,1130681,2107,793,BEFREE,NaN,Biomarker,No correlation could be found between Broder's...,1000501.0,0.10,None,0.956175,1976
1,261998,431,775,BEFREE,NaN,GeneticVariation,"However, there are few reports describing soma...",10021299.0,0.40,None,0.987013,1999
2,369637,450,775,BEFREE,NaN,GeneticVariation,WAF1 genotype and endometrial cancer susceptib...,10021299.0,0.02,None,1.000000,1999
3,2128526,10033,775,BEFREE,NaN,GeneticVariation,WAF1 genotype and endometrial cancer susceptib...,10021299.0,0.07,None,1.000000,1999
4,262799,431,7385,BEFREE,NaN,Biomarker,APC and APC2 may therefore have comparable fun...,10021369.0,0.01,None,1.000000,1999

In [42]:
df.to_csv('Edges-Inter.csv')

In [30]:
df.to_csv('Diseases.csv')

In [ ]:
df=pd.read_sql_query()

In [31]:
conn.close()

In [9]:
result

In [32]:
r=conn.execute('select * from geneAttributes')

ProgrammingError: Cannot operate on a closed database.

In [9]:
df=pd.read_csv('Diseases.csv')

In [10]:
df.head()

,Unnamed: 0,Unnamed: 0.1,diseaseNID,diseaseId,diseaseName,type
0,0,0,1,C0000727,"Abdomen, Acute",phenotype
1,1,1,2,C0000729,Abdominal Cramps,phenotype
2,2,2,3,C0000731,Abdomen distended,phenotype
3,3,3,4,C0000734,Abdominal mass,phenotype
4,4,4,5,C0000735,Abdominal Neoplasms,group

In [12]:
df1=df.drop(columns=['Unnamed: 0','Unnamed: 0.1','diseaseId','type'])

In [13]:
df1.to_csv('diseases_1.csv')

In [14]:
df=pd.read_csv('Genes.csv')

In [15]:
df.head()

,Unnamed: 0,Unnamed: 0.1,geneNID,geneId,geneName,geneDescription,pLI,DSI,DPI
0,0,0,1,1,A1BG,alpha-1-B glycoprotein,4.990000e-09,0.700,0.538
1,1,1,2,2,A2M,alpha-2-macroglobulin,4.520000e-11,0.529,0.769
2,2,2,3,3,A2MP1,alpha-2-macroglobulin pseudogene 1,NaN,NaN,NaN
3,3,3,4,9,NAT1,N-acetyltransferase 1,1.930000e-14,0.536,0.846
4,4,4,5,10,NAT2,N-acetyltransferase 2,3.270000e-06,0.451,0.885

In [16]:
df1=df.drop(columns=['Unnamed: 0','Unnamed: 0.1','geneId','geneDescription','pLI','DSI','DPI'])

In [18]:
df1.to_csv('genes_1.csv')

In [20]:
df.head()

,Unnamed: 0,NID,diseaseNID,geneNID,source,association,associationType,sentence,pmid,score,EL,EI,year
0,0,1130681,2107,793,BEFREE,NaN,Biomarker,No correlation could be found between Broder's...,1000501.0,0.10,NaN,0.956175,1976.0
1,1,261998,431,775,BEFREE,NaN,GeneticVariation,"However, there are few reports describing soma...",10021299.0,0.40,NaN,0.987013,1999.0
2,2,369637,450,775,BEFREE,NaN,GeneticVariation,WAF1 genotype and endometrial cancer susceptib...,10021299.0,0.02,NaN,1.000000,1999.0
3,3,2128526,10033,775,BEFREE,NaN,GeneticVariation,WAF1 genotype and endometrial cancer susceptib...,10021299.0,0.07,NaN,1.000000,1999.0
4,4,262799,431,7385,BEFREE,NaN,Biomarker,APC and APC2 may therefore have comparable fun...,10021369.0,0.01,NaN,1.000000,1999.0

In [22]:
df1=df.drop(columns=['Unnamed: 0','NID','source','association','associationType','sentence','pmid','score','EL','EI','year'])

In [23]:
df1.to_csv('edges.csv')

In [7]:
df=pd.read_csv('genes.csv')

In [8]:
df.head()

,Unnamed: 0,Unnamed: 0.1,geneNID,geneId,geneName,geneDescription,pLI,DSI,DPI
0,0,0,1,1,A1BG,alpha-1-B glycoprotein,4.990000e-09,0.700,0.538
1,1,1,2,2,A2M,alpha-2-macroglobulin,4.520000e-11,0.529,0.769
2,2,2,3,3,A2MP1,alpha-2-macroglobulin pseudogene 1,NaN,NaN,NaN
3,3,3,4,9,NAT1,N-acetyltransferase 1,1.930000e-14,0.536,0.846
4,4,4,5,10,NAT2,N-acetyltransferase 2,3.270000e-06,0.451,0.885

In [ ]:
df=pd.read_csv('Edges-Inter.csv')
df=df.drop(columns=['Unnamed: 0','NID','source','association','associationType','sentence','pmid','score','EL','EI','year'])
df.to_csv(r'fullgraph.txt', header=None, index=None, sep=' ', mode='a')

In [ ]:
G=nx.read_edgelist('./fullgraph.txt')
print(nx.info(G))

In [ ]:
DG=dgl.from_networkx(G)
print(DG)

In [ ]:
from dgl.data.utils import save_graphs
graph_labels = {"glabel": th.tensor([0])}
save_graphs("./dgl_graph.bin", [g1], graph_labels)